<h1>Welcome to the First Page</h1>
<p>
	Demonstration of the first page
	<%= link_to "Google", "http://www.google.com" %>
</p>
<p>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>

