<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @activities %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
